form {
    background-color: rgb(202, 128, 115);
    padding: 2vmax;
}

input {
    display: block;
    margin: 0 auto 1.5em;
    padding: 0.5em;
    border: none;
    outline: none;
    border-radius: 2px;
    width: 80%;
}

input::placeholder {
    font-size: 1em;
}